body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #f0f0f0;
}

.menu-page {

    margin: 20px auto;
    background-color: #5F8FAA;
    border: 1px solid #ccc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.page-header {
    height: 50px;
    background-color: #74503E;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}